.productos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-template-areas:
        "carrousel-kerastase lista-de-productos lista-de-productos logo-vitrina"
        "carrousel-loreal lista-de-productos lista-de-productos logo-vitrina";
    }
    .turnos-grid {
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .turnos {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 200px;
        border-right: solid;
    }
    